<ion-view hide-nav-bar="true">
  <ion-content>
      <div class="page">
          <header>

          </header>
          <section class="block-container">
            <p> Vous êtes <br> <span>Niveau 2</span> </p>


          </section>
          <section class="block-bottom-menu">
              <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
              <i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i>
              <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
          </section>
      </div>
  </ion-content>
</ion-view>
