<ion-view hide-nav-bar="true">
  <ion-content id="main">
      <div class="page">
          <header>
              <span class="icon-niv">
                  <i class="fa fa-car fa-2x" aria-hidden="true"></i>
                  <i class="fa fa-star-o fa-2x niv-fa" aria-hidden="true"></i>
              </span>
          </header>
          <section class="block-container-acc">
            <div class="block-progress">
                <p> Vous êtes <br> <span class="progress-text">Niveau 2</span> </p>
                <div class="progress">
                    <div class="progress-bar" style="width: 60%;"></div>
                </div>
                <p class="text-xp"> 3000xp / <span class="progress-text">450xp</span></p>
            </div>

              <div class="btn-start">
                      <i class="fa fa-car fa-2x" aria-hidden="true"></i>
                      <p> Démarrer</p>
              </div>
          </section>

          <section class="block-bottom-menu">
              <i class="fa fa-file-text-o fa-2x icon-left" aria-hidden="true"></i>
              <i class="fa fa-pie-chart fa-2x icon-middle" aria-hidden="true"></i>
              <i class="fa fa-cog fa-2x icon-right" aria-hidden="true"></i>
          </section>
      </div>
  </ion-content>
</ion-view>
