<ion-view hide-nav-bar="true">
  <ion-content id="main">
      <div class="page">
          <header class="icon-niv">
              <i class="fa fa-car fa-2x" aria-hidden="true"></i>
          </header>
          <section class="block-container-acc">
            <p> Vous êtes <br> <span>Niveau 2</span> </p>
              <p> 3000xp / <span>450xp</span> </p>
              <div class="btn-start">
                      <i class="fa fa-car fa-2x" aria-hidden="true"></i>
                      <p> Démarrer</p>
              </div>
          </section>

          <section class="block-bottom-menu">
              <i class="fa fa-file-text-o fa-2x icon-left" aria-hidden="true"></i>
              <i class="fa fa-pie-chart fa-2x icon-middle" aria-hidden="true"></i>
              <i class="fa fa-cog fa-2x icon-right" aria-hidden="true"></i>
          </section>
      </div>
  </ion-content>
</ion-view>
