<ion-view hide-nav-bar="true">
    <ion-content class="login">
        <div class="page">
            <header>
                <img class="logo" src="../img/logo-upway-1.png" alt="logo Upway"/>
            </header>
            <section class="block-bottom">
                <p class="intro">Digitalisez votre apprentissage de la route</p>
                <button id="inscription">S'inscrire</button>
                <div class="separation">
                    <hr />
                    <p id="choix">OU</p>
                    <hr />
                </div>
                <button id="connection">Se connecter</button>
            </section>
        </div>
    </ion-content>
</ion-view>
