<ion-view  hide-nav-bar="true" >
  <ion-content id="main">
      <header id="head-logo">
            <img src="../img/logo-2.png"  alt="logo upway"/>
      </header>
    <div style="clear: both"></div>
      <div id="container">
          <ion-list>

              <ion-item>
                  <ion-input type="text" placeholder="Username"></ion-input>
              </ion-item>

              <ion-item>
                  <ion-input type="password" placeholder="Password"></ion-input>
              </ion-item>

          </ion-list>
          <!--<button class="button button-block button-positive" type="submit">Log in</button>-->
      </div>
  </ion-content>
</ion-view>
