<ion-view  hide-nav-bar="true" >
  <ion-content id="main">
      <div class="container">
          <div class="page">
              <header>
                  <img class="logo" src="../img/logo-upway-1.png" alt="logo Upway"/>
              </header>
              <section class="block-bottom">
                <form id="formInscript">
                  <input type="text" class="btn-inscription" value="" placeholder="Nom">
                  <input type="text" class="btn-inscription" value="" placeholder="Prénom">
                  <input type="email" class="btn-inscription" value="" placeholder="Email">
                  <input type="password" class="btn-inscription" value="" placeholder="Mot de passe">
                  <input type="submit" id="inscription" value="S'inscrire">
                </form>
              </section>
          </div>
      </div>
  </ion-content>
</ion-view>
