<ion-view view-title="Paramètres du compte">
  <ion-content>
    <section class="block-top">
      <div class="photo_prof">
        <div class="block-top-info">
          <p> Francis Arnaud</p>
          <i class="fa fa-camera" aria-hidden="true"></i>
        </div>

    </section>
    <section class="block-bottom2">
      <form id="formModifProf">
           <div class="block-btn-prof">
              <input type="text" class="btn-modif" placeholder="Nom">
              <input type="text" class="btn-modif" placeholder="Prénom">
           </div>
            <input type="email" class="btn-modif" placeholder="Email">
            <input type="password" class="btn-modif" placeholder="Mot de passe">
          <div class="block-btn-prof">
              <button name="type_conduite" class="btn-modif">Conduite accomp </button>
              <button  name="type_conduite" class="btn-modif">Conduite sup </button>
          </div>
            <input type="submit" id="enregistrer" value="Enregistrer" class="btn-modif">
      </form>
    </section>
  </ion-content>
</ion-view>
