/* Empty. Add your own CSS if you like */
body {
    font-size: 0;
    font-family:"Roboto Rg";
}

.btn-lg {
    width: 100%;
    height: auto;
    border: 0;
    font-size: 16px;
    padding: 13px 0;
    text-transform: uppercase;
    font-family: "Roboto Bl";

}


.btn-blue{
    /*background: #4b5497;*/
    background: linear-gradient(#343E82 0%, #4b5497 100%);
    color: #ffffff;
}

.btn-white{
    background: linear-gradient(#AE9A87 0%, #DFD1C7 100%);
    color: #4b5497;
}

















#map {
    height: 100vh;
    width: 100vw;
}
p{font-size: 16pt;}
.login, #main {
    background: url(../img/background-1.jpg) center;
    background-size: cover;
    
}
.block-top-profil{
    background: url(../img/mockup1.jpg) center;
    background-size: cover;
    height: 210px;
    width: auto;
}
.block-top-info{
    position: absolute;
    top: 25%;
    width: 100%;
    padding: 0 20px;
}
.block-top-info p{
    float: left;
    color: #ffffff;
    line-height: 50px;
}
.block-top-info i{
    float: right;
    font-size: 20px;
    color: #fff;
    background: #3C4371;
    padding: 15px;
    border-radius: 50%;
}

.logo {
    transform: translateX(-50%);
    margin-left: 50%;
    margin-top: 30px;
    width: 50%;
}

.intro {
    width: 100%;
    margin: 0 auto 30px auto;
    color: #fff;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
}

.separation {
    width: 100%;
    margin: 20px auto;
    display: flex;
}

hr {
    width: 40%;
    display: inline-block;
    border: 0;
    border-top: solid 1px #ffffff;
    margin: auto;
}

#choix {
    display: inline-block;
    width: 20%;
    text-align: center;
    font-size: 17px;
    margin: auto;
    color: #ffffff;
}

#inscription {
    width: 100%;
    display: block;
    border: 0;
    background: #F3904F;
    padding: 13px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
    margin: auto;
    font-weight: bold;
}

#connection{
    width: 100%;
    display: block;
    border: 0;
    background: #fff;
    padding: 13px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #F3904F;
    margin: auto;
    font-weight: bold;
}
.btn-inscription {
    width: 100% !important;
    display: block !important;
    border: 0 !important;
    background: #fff !important;
    padding: 13px !important;
    box-sizing: border-box !important;
    border-radius: 5px !important;
    color: #F3904F !important;
    font-weight: bold !important;
    height: auto !important;
    margin: 15px auto !important;
}
.btn-modif {
    display: block ;
    width: 100%;
    border: 0 ;
    background: #E6E6E6 ;
    padding: 13px !important;
    box-sizing: border-box ;
    border-radius: 5px ;
    color: #737373 ;
    font-weight: bold ;
    height: auto !important;
    margin: 15px auto ;
}
.block-btn-prof input, .block-btn-prof button{
    float: left;
    width: 48%;
}
.block-btn-prof input:first-child, .block-btn-prof button:first-child{
    margin-right: 4%;
}
#btn-register{
    background: #3C4371;
    color: #ffffff;
    width:50%;
}
#btn-register:hover{
    background: #737373;
}
.page{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.block-bottom {
    width: 100%;
    padding: 0 20%;
    position: absolute;
    bottom: 25%;
}
.block-bottom2{
    padding: 0 2%;
    width: 100%;
 }

ion-view {
    position: relative;
}

/***** page d'accueil ***/
.block-bottom-menu .fa{font-size: 40px !important;}

.block-bottom-menu{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #ffffff;
}
.icon-left{
    position: absolute;
    left: 5%;
    bottom: 5vw;
    font-size: 30px;
}
.icon-middle{
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    bottom: 5vw;
}
.icon-right{
    right: 5vw;
    position: absolute;
    bottom: 5vw;
}

.btn-start{
    position: absolute;
    width: 170px;
    height: 170px;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
}
.btn-start p{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn-start .fa {
    position: absolute;
    top: 35%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%, -50%);
}
.icon-niv{
    position: absolute;
    width: 80px;
    height: 80px;
    border: 3px solid #FFF;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 13%;
    left: 50%;
}
.icon-niv .fa{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    color: #FFFFFF;
    font-size: 30px;
}
.icon-niv .niv-fa{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    color: #FFFFFF;
    font-size: 15px;
}
.block-progress{
    position: absolute;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    text-align: center;
    margin-top: 10%;
    line-height: 30px;
    color: #FFFFFF;
}
span.progress-text {
    font-weight: 600;
}
.progress {
    border-bottom: 3px solid #fff;
    height: 10px;
    width: 60%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    margin-top: 20px;
}
.progress-bar {
    background: #fff;
    height: 10px;
    margin: 0;
}
.block-progress p {
    font-weight: 300;
}
p.text-xp {
    margin-top: 40px;
}

/***** Font-family *****/
@font-face {
    font-family: 'Roboto Lt';
    src: url('fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto Bl';
    src: url('fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto Rg';
    src: url('fonts/Roboto-Regular.ttf');
}

