/* Empty. Add your own CSS if you like */
body {
    font-size: 0;
}
p{font-size: 16pt}

.login, #main {
    background: url(../img/background-1.jpg) center;
    background-size: cover;
    
}
.block-top-profil{
    background: url(../img/mockup1.jpg) center;
    background-size: cover;
    height: 210px;
    width: auto;
}

.logo {
    transform: translateX(-50%);
    margin-left: 50%;
    margin-top: 30px;
    width: 50%;
}

.intro {
    width: 100%;
    margin: 0 auto 30px auto;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.separation {
    width: 100%;
    margin: 15px auto;
    display: flex;
}

hr {
    width: 40%;
    display: inline-block;
    border: 0;
    border-top: solid 1px grey;
    margin: auto;
}

#choix {
    display: inline-block;
    width: 20%;
    text-align: center;
    font-size: 18px;
    margin: auto;
    color: grey;
}

#inscription {
    width: 100%;
    display: block;
    border: 0;
    background: #F3904F;
    padding: 13px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
    margin: auto;
    font-weight: bold;
}

#connection{
    width: 100%;
    display: block;
    border: 0;
    background: #fff;
    padding: 13px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #F3904F;
    margin: auto;
    font-weight: bold;
}
.btn-inscription {
    width: 100% !important;
    display: block !important;
    border: 0 !important;
    background: #fff !important;
    padding: 13px !important;
    box-sizing: border-box !important;
    border-radius: 5px !important;
    color: #F3904F !important;
    font-weight: bold !important;
    height: auto !important;
    margin: 15px auto !important;
}
.btn-modif {
    width: 100% !important;
    display: block !important;
    border: 0 !important;
    background: #fff !important;
    padding: 13px !important;
    box-sizing: border-box !important;
    border-radius: 5px !important;
    color: #F3904F !important;
    font-weight: bold !important;
    height: auto !important;
    margin: 15px auto !important;
}
.page, .container {
    height: 90vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.block-bottom {
    width: 100%;
    padding: 0 15%;
    position: absolute;
    bottom: 0;
}

ion-view {
    position: relative;
}
